<section class="container" [formGroup]="parentForm">
  <div formGroupName="address">
    <label class="label">
      Company:
      <ng-select
        [items]="company"
        [searchable]="true"
        [virtualScroll]="true"
        [loading]="loading"
        placeholder="Select company"
        formControlName="company"
      >
      </ng-select>
    </label>
    <label class="label">
      Street:
      <input class="input" formControlName="street" />
    </label>
    <label class="label">
      City:
      <input class="input" formControlName="city" />
    </label>
    <label class="label">
      State:
      <input class="input" formControlName="state" />
    </label>
    <label class="label">
      Country:
      <ng-select
        [items]="country$ | async"
        [loading]="loading"
        [searchable]="true"
        [virtualScroll]="true"
        (change)="onCountryChange($event)"
        bindValue="name"
        bindLabel="name"
        placeholder="Select country"
        formControlName="country"
      >
      </ng-select>
    </label>
    <label class="label">
      Zip:
      <input
        class="input"
        [ngClass]="{ 'is-danger': zip.invalid && (zip.touched || zip.dirty) }"
        type="tel"
        maxlength="5"
        formControlName="zip"
        required
      />
      <p
        *ngIf="zip.invalid && (zip.touched || zip.dirty)"
        class="help is-danger"
      >
        Invalid zip code
      </p>
    </label>
  </div>
</section>
